    // PAGE1
    $width-page1: 35vw;
    $height-page1: 95vh;
    $min-width-page: 537px;
    $min-height-page: 707px;
    $padding-collumn: 2% 5% 2% 8%;
    $padding-collumn-flex: 1% 2.5% 1% 4%;
    $width-height-phone: 2rem;
    $height-social: 48px;
    $width-height-icon-hobbys: 96px;
    $start-page-time: 2s;
    $width-height-icon-skills: 80px;