@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body {
    // MEDIA 850px
    @import 'media/media_container';
    margin: 0;
}


.container {   
    // PAGE 1
    @import 'pages/page1';
    // PAGE 2
    @import 'pages/page2';
    // PAGE 3
    @import 'pages/page3';

    
    position: relative;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;

    .bgimg {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background: url(img/Table.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        opacity: 0;
        animation-name: bgc-start;
        animation-duration: 3s;
        animation-delay: 0.3s;
        animation-direction: normal;
        animation-fill-mode: forwards;
        z-index: -1;
    }

    @keyframes bgc-start {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

}

