@import '../vars';
@media screen {
    @media (max-width: 850px) {
        .container {   
            .bgimg {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                background: url(../img/Table_media_cont.webp);
                background-size: cover;
                background-repeat: no-repeat;
                height: 100vh;
                opacity: 0;
                animation-name: bgc-start_media;
                animation-duration: 3s;
                animation-delay: 0.3s;
                animation-direction: normal;
                animation-fill-mode: forwards;
                z-index: -1;
            }

            @keyframes bgc-start_media {
                0% {
                    opacity: 0;
                }
        
                100% {
                    opacity: 1;
                }
            }

            .main_page {
                left: -150vw;
                top: 50vh;
                transform: translate(-80%, -60%) rotate(0deg) scale(0.8);
                animation-name: start_page1_media;
                animation-duration: 2s;
                animation-delay: $start-page-time + 2s;
                animation-direction: normal;
                animation-fill-mode: forwards;
                z-index: 2;
            }

            @keyframes start_page1_media {
                0% {
                    left: -150vw;
                    top: 50vh;
                }
            
                100% {
                    left: 50%;
                    top: 50vh;
                }
            }

            .page2 {           
                display: flex;
                flex-flow: column nowrap;
                transform: translate(-60%, -55%) rotate(0deg) scale(0.8);
                top: 200vh;
                left: 50%;
                animation-name: start_page2_media;
                animation-duration: 2s;
                animation-delay: $start-page-time + 1s;
                animation-direction: normal;
                animation-fill-mode: forwards;
                z-index: 1;
            
                @keyframes start_page2_media {
                    0% {
                        top: 200vh;
                        left: 50%;
                    }
            
                    100% {
                        top: 50vh;
                        left: 50%;
                    }
                }
            }    

            .page3 {          
                display: flex;
                flex-flow: column nowrap;
                transform: translate(-40%, -50%) rotate(0deg) scale(0.8);
                top: 200vh;
                left: 50%;
                padding: 1% 2% 3%;
                animation-name: start_page3_media;
                animation-duration: 2s;
                animation-delay: $start-page-time;
                animation-direction: normal;
                animation-fill-mode: forwards;
                z-index: 0;
            
                @keyframes start_page3_media {
                    0% {
                        left: 200%;
                        top: 50vh;
                    }
                
                    100% {
                        left: 50%;
                        top: 50vh;
                    }
                }
            }
        }
    }
}